node_red/node/irOutput_node.json
[{"id":"d2dfd67e.821988","type":"file in","z":"c797c48b.b6b498","name":"","filename":"/home/pi/RPi-IREX/irData.json","format":"utf8","chunk":false,"sendError":false,"x":399.75,"y":1853.75,"wires":[["525f3a93.c0904c"]]},{"id":"525f3a93.c0904c","type":"json","z":"c797c48b.b6b498","name":"","pretty":false,"x":614.956298828125,"y":1852.20947265625,"wires":[["c3160782.b6a598"]]},{"id":"c3160782.b6a598","type":"function","z":"c797c48b.b6b498","name":"赤外線信号送出(0x01)","func":"var length = msg.payload.DataLength;\nvar buf = [];\n\nbuf[0] = 0x01; // 送信コマンド\nbuf[1] = msg.payload.FormatType; // SONY:0x01 それ以外:0x00\nbuf[2] = (length >> 8 & 0xFF); // 赤外線送信バイト数 Hiバイト\nbuf[3] = (length & 0xFF); // 赤外線送信バイト数 Loバイト\n\n\nfor(i = 0; i < length ; i++)\n{\n    buf[4+i] = msg.payload.SignalData[i];\n}\n\n//msg.payload.length = length + 4;\nmsg.payload  = new Buffer(buf);\nreturn msg;","outputs":1,"noerr":0,"x":800.4761962890625,"y":1850.931640625,"wires":[[]]},{"id":"ee1b392.b185e48","type":"comment","z":"c797c48b.b6b498","name":"赤外線信号送出コマンドノード","info":"","x":396,"y":1798.5,"wires":[]}]