node_red/node/response_node.json
[{"id":"fee3884f.b48578","type":"function","z":"c797c48b.b6b498","name":"赤外線信号送出コマンド応答確認","func":"var retCode = msg.payload[1];\n\nif(retCode === 0x00)\n{\n    msg.payload = \"赤外線信号送出コマンド: 正常終了\";\n}\nelse\n{\n    msg.payload = \"赤外線信号送出コマンド: エラー:\" + retCode;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":768.25,"y":1528,"wires":[[]]},{"id":"8b3b83f7.be275","type":"function","z":"c797c48b.b6b498","name":"赤外線信号学習コマンド応答確認","func":"var retCode = msg.payload[1];\n\nif(retCode === 0x03)\n{\n    msg.payload = \"赤外線信号学習コマンド: 15秒タイムアウト:\" + retCode;\n}\nelse\n{\n    msg.payload = \"赤外線信号学習コマンド: エラー:\" + retCode;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":768.75,"y":1568.5,"wires":[[]]},{"id":"71b6b5e6.65862c","type":"function","z":"c797c48b.b6b498","name":"赤外線信号学習中断コマンド応答確認","func":"var retCode = msg.payload[1];\n\nif(retCode === 0x00)\n{\n    msg.payload = \"赤外線信号学習中断コマンド: 正常終了\";\n}\nelse\n{\n    msg.payload = \"赤外線信号学習中断コマンド: エラー:\" + retCode;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":775.5,"y":1603.75,"wires":[[]]},{"id":"f032af3f.e6191","type":"function","z":"c797c48b.b6b498","name":"コマンド不明","func":"msg.payload = \"コマンド不明:\" + msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":703.75,"y":1676.875,"wires":[[]]},{"id":"ddb4ecb4.5a0468","type":"function","z":"c797c48b.b6b498","name":"ファームウェアバージョン取得コマンド応答確認","func":"var retCode = msg.payload[1];\nif(retCode === 0x00)\n{\n    var majorVer = msg.payload[2];\n    var minorVer = msg.payload[3];\n    msg.payload = \"ファームウェアバージョン: Ver.\" + majorVer + \".\" + minorVer;\n}\nelse\n{\n    msg.payload = \"ファームウェアバージョン取得コマンド: エラー:\" + retCode;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":812,"y":1639.25,"wires":[[]]},{"id":"c0a745f9.816ad","type":"comment","z":"c797c48b.b6b498","name":"コマンド応答確認ノード","info":"","x":728,"y":1488.75,"wires":[]}]
