node_red/node/saveData_node.json
[{"id":"1426d6f3.8e4ce1","type":"switch","z":"c797c48b.b6b498","name":"赤外線信号学習コマンド終了コード確認","property":"payload[1]","propertyType":"msg","rules":[{"t":"eq","v":"0x02","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":659.25,"y":1444.25,"wires":[["cccb0102.cd8ec"],[]]},{"id":"cccb0102.cd8ec","type":"function","z":"c797c48b.b6b498","name":"赤外線信号JSON変換","func":"var FormatType = msg.payload[2];\nvar DataLength = ((msg.payload[3] << 8) & 0xFF00)+ msg.payload[4];\nvar SignalData = [];\n\nfor(i=0 ; i<DataLength ; i++)\n{\n    SignalData[i] = msg.payload[5+i]\n}\n\nvar irData = {\"FormatType\":FormatType, \n               \"DataLength\":DataLength, \n               \"SignalData\":SignalData}\n\nmsg.payload = irData;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":952.357177734375,"y":1442.09814453125,"wires":[["36c97380.e437cc"]]},{"id":"36c97380.e437cc","type":"file","z":"c797c48b.b6b498","name":"","filename":"/home/pi/RPi-IREX/irData.json","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1216.6072998046875,"y":1442.53564453125,"wires":[]},{"id":"db6f0483.691ba8","type":"comment","z":"c797c48b.b6b498","name":"赤外線信号保存ノード","info":"","x":594,"y":1394.75,"wires":[]}]