node_red/node/saveIrData_node.json
[{"id":"27d7e223.b7bd9e","type":"function","z":"c797c48b.b6b498","name":"ファームウェアバージョン取得(0xD0)","func":"msg.payload = [0xD0];\n\nreturn msg;","outputs":1,"noerr":0,"x":705.75,"y":1932.75,"wires":[[]]},{"id":"7ab9c3cc.e39fec","type":"function","z":"c797c48b.b6b498","name":"赤外線信号学習中断(0x03)","func":"msg.payload = [0x03];\n\nreturn msg;","outputs":1,"noerr":0,"x":676.5,"y":1893.25,"wires":[[]]},{"id":"4236fe25.d98ec","type":"function","z":"c797c48b.b6b498","name":"赤外線信号学習(0x02)","func":"msg.payload = [0x02, 0x00];\n\nreturn msg;","outputs":1,"noerr":0,"x":655.2499389648438,"y":1852.5,"wires":[[]]},{"id":"cdcd3b2c.974b48","type":"comment","z":"c797c48b.b6b498","name":"赤外線信号学習・赤外線信号学習中断・ファームウェアバージョン取得コマンドノード","info":"","x":842,"y":1814.75,"wires":[]}]