node_red/node/switchLed_node.json
[{"id":"9fbd10d0.4a571","type":"rpi-gpio out","z":"87e6dac7.ff9918","name":"LED(赤)","pin":"11","set":true,"level":"0","freq":"","out":"out","x":832.5,"y":2960.25,"wires":[]},{"id":"185322dc.88e975","type":"rpi-gpio out","z":"87e6dac7.ff9918","name":"LED(緑)","pin":"12","set":true,"level":"0","freq":"","out":"out","x":834.0555419921875,"y":3029.5834350585938,"wires":[]},{"id":"e3b6c7c0.dcc82","type":"comment","z":"87e6dac7.ff9918","name":"LED用GPIOノード","info":"","x":828.75,"y":2916.25,"wires":[]},{"id":"195e7ab9.397abd","type":"rpi-gpio in","z":"87e6dac7.ff9918","name":"タクトスイッチ","pin":"7","intype":"tri","debounce":"25","read":false,"x":493.5,"y":2960.25,"wires":[["9fbd10d0.4a571","5605e817.58d7d"]]},{"id":"133cf749.ab9211","type":"comment","z":"87e6dac7.ff9918","name":"タクトスイッチ用GPIOノード","info":"","x":488.75,"y":2917.25,"wires":[]},{"id":"5605e817.58d7d","type":"function","z":"87e6dac7.ff9918","name":"反転","func":"msg.payload ^= 1;\nreturn msg;","outputs":1,"noerr":0,"x":675.5,"y":3004.25,"wires":[["185322dc.88e975"]]}]