node_red/node/switchReset_node.json
[{"id":"73d14f1a.98339","type":"rpi-gpio out","z":"c797c48b.b6b498","name":"LED(赤)","pin":"11","set":true,"level":"0","freq":"","out":"out","x":705.75,"y":199.75,"wires":[]},{"id":"868f0b35.ee0e7","type":"rpi-gpio out","z":"c797c48b.b6b498","name":"LED(緑)","pin":"12","set":true,"level":"0","freq":"","out":"out","x":707.3055419921875,"y":269.08343505859375,"wires":[]},{"id":"a3c126fb.32bc68","type":"comment","z":"c797c48b.b6b498","name":"LED用GPIOノード","info":"","x":702,"y":155.75,"wires":[]},{"id":"7202602.c9a2aa","type":"rpi-gpio in","z":"c797c48b.b6b498","name":"タクトスイッチ","pin":"7","intype":"tri","debounce":"25","read":false,"x":366.75,"y":199.75,"wires":[["73d14f1a.98339","6581319a.e4d2d8"]]},{"id":"10ab32dc.458165","type":"comment","z":"c797c48b.b6b498","name":"タクトスイッチ用GPIOノード","info":"","x":362,"y":156.75,"wires":[]},{"id":"6581319a.e4d2d8","type":"function","z":"c797c48b.b6b498","name":"反転","func":"msg.payload ^= 1;\nreturn msg;","outputs":1,"noerr":0,"x":548.75,"y":243.75,"wires":[["868f0b35.ee0e7"]]},{"id":"60946f48.47748","type":"comment","z":"c797c48b.b6b498","name":"スイッチを押すと緑色LEDが点灯。話すと赤色LEDが点灯","info":"","x":541,"y":351.75,"wires":[]}]